body {
  margin: 0;
}

main {
  background-color: rgb(7, 25, 33);
  min-height: 100vh;          
}

header {
  display: flex;
  align-items: center;
  background-color: #0a2129;
  padding-left: 10px;
}

header img {
  width: 200px;
  height: 100px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a2129;
  padding: 10px 20px;
  text-align: center;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 900px;         
  margin: 0 auto;         
  gap: 10px;
  padding: 10px;
}


.foto {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.foto:hover {
  filter: brightness(85%);
  border: 2px solid #ff3b3b;
  transform: scale(1.03);
  cursor: pointer;
}




#imageDialog {
  padding: 20px 20px 80px 20px;  
  border: none;
  max-width: 550px;              
  min-height: 600px;
  border-radius: 24px;
  background: #0a2129;
}


#dialogHeader {
  position: relative;       
  text-align: center;       
  width: 100%;
  margin-bottom: 20px;
}

#dialogTitle {
  color: white;
  font-size: 20px;
  margin: 0;
}


#closeDialogBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


#dialogImage {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 12px;     
}
#dialogControls {
  position: absolute;
  bottom: 20px;          
  left: 50%;            
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow {
  background: #8f051c42;         
  color: #ff3b3b;               
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;           
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);  
}

#imageCounter {
  color: white;
  font-size: 16px;
  margin: 0 10px;
  padding: 4px 8px;
  border-radius: 8px;
  
}
.arrow:hover {
  transform: scale(1.05);
}



@media (max-width: 474px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 332px) {
  h2 {
    font-size: 16px;
  }
}
@media (max-width: 640px) {

  
  #gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px;
    justify-content: center;   
  }

  
  .foto {
    width: 100%;              
    height: auto;             
    aspect-ratio: 1 / 1;      
    object-fit: cover;
  }
}
